
<%= month_calendar events: @meetings do |date, meetings| %>
  <%= date.day %>
  
  <% if date.wday < 5 && date.wday > 0 && date > Time.now %>
    <%= link_to "Schedule", create_calendar_path, class: "button" %>
  <% end %>

  <% meetings.each do |meeting| %>
    <p>
      <% Time.zone = 'Eastern Time (US & Canada)'%>
      <%= meeting.start_time.in_time_zone.strftime("%I:%M %p") %>
    </p>
      <% meeting_array = meeting.name.split("-") %>
      <p>
        <strong><%= meeting_array[1]%></strong>
      </p>
      <p>
        <%= meeting_array[2] %>
      </p>
    
  <% end %>

<% end %>

